header {
  margin-bottom: 10px;padding-top:5px;
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);color:#fff;
}

header h1 {
  font-size: 24px;letter-spacing: 2px;color:#fff;
  margin: 10px 20px;text-align: left;
}

header h1 span {
  margin-left:10px;font-size: 16px;
}
header .head_list {
  text-align: left;
  padding-right: 10px;
  border-bottom: 1px solid #000;
}

header ul {
  list-style-type: none;
  display: flex;justify-content: flex-end;padding-bottom: 10px;
}

header li {
  flex-direction: row;flex-wrap: wrap;
  vertical-align: middle;
}

.name_h {
  padding-top:7px;letter-spacing:1px;font-weight:bold;color:#fff;
}

header li a{
  display:inline-block;width: 60px;padding: 7px 5px;text-align: center;
  color:#fff;border: 1px solid #245580;background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);border-radius: 5px;
}

header li a:hover {
  opacity:0.6;
}


header li + li {
  margin-left: 5px;
}

.main {
  padding-top: 15px;padding-bottom: 15px;
}

.u_regi,.u_login {
  width:450px;
  margin:15px auto;
}

.u_regi span,.u_login span{
  display:inline-block;
  vertical-align:top;
  padding-top:5px;
  width:100px;
}
.u_regi li + li,.u_login li + li{
  margin-top:10px;
}

.u_regi input[type="text"],.u_login input[type="text"] {
  width:200px;
  padding:5px;
  border-radius:3px;
}

.u_regi input[type="password"],.u_login input[type="password"] {
  width:200px;
  padding:5px;
  border-radius:3px;
}

.u_regi select {
  padding:5px 15px;
  border-radius:3px;
}

.u_regi textarea {
  height:100px;
  width:300px;
  padding:5px;
  border-radius:3px;
  vertical-align:top;
}

.u_regi input[type="submit"],.u_login input[type="submit"] {
  padding: 5px 5px 5px 20px;
  border-radius: 3px;
  margin: 0 auto;
  letter-spacing: 15px;
  color: #fff;
  background-color: #00f;
  border: 1px solid #616673;
}

.user_table {
  display: table;
  border:1px solid #aaa;
  margin:10px auto;
  border-radius:3px;
}

.user_table ol {
  display: table-row;
}

ol.table_h {
  background-color:#eee;
}

.user_table ol+ol {
  border-top:1px solid #ddd;
}

.user_table li {
  display: table-cell;
  padding:10px 7px;
  border-top:1px solid #ddd;
}

.user_table ol:first-child li {
  border-top:none;
}

.user_table li+li {
  border-left:1px solid #ddd;
}

.user_table li a {
  display:inline-block;width:95px;text-align:center;padding:7px 5px;
  color:#fff;background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);border:1px solid #245580;border-radius:5px;
}

.user_table li a:hover {
  opacity:0.6;
}

.user_table li a + a {
  margin-left:7px;
}

.u_login {

}

footer {
  border-top:1px solid #ccc;
  text-align: center;margin-top: 15px;padding: 15px 0;
}
